
<nav class="nav nav-tabs bg-dark card-header-tabs nav-fill" style="list-style-type: none;">
    <a data-toggle="tab" style="font-style: bold;" class="text-* text-uppercase mb-1" href="#hot"> <span class="text-white" style="font-weight:bold;">Hot</span></a>
    <a data-toggle="tab" style="font-style: bold;" class="text-* text-uppercase mb-1" href="#cold" ><span class="text-white" style="font-weight:bold;">Cold</span></a>
    <a data-toggle="tab" style="font-style: bold;" class="text-* text-uppercase mb-1" href="#pending"><span class="text-white" style="font-weight:bold;">Pending</span></a>
    <a data-toggle="tab" style="font-style: bold;" class="text-* text-uppercase mb-1" href="#delivered"><span class="text-white" style="font-weight:bold;">Delivered</span></a>
    <a data-toggle="tab" style="font-style: bold;" class="text-* text-uppercase mb-1" href="#follow_up"><span class="text-white" style="font-weight:bold;">Today Follow up </span></a>
    <a data-toggle="tab" style="font-style: bold;" class="text-* text-uppercase mb-1" href="#future_follow_up"><span class="text-white" style="font-weight:bold;">Future Follow up</span></a>
    <a data-toggle="tab" style="font-style: bold;" class="text-* text-uppercase mb-1" href="#lost"><span class="text-white" style="font-weight:bold;">Lost</span></a>
      
   
  </nav>
  <hr-2>
  <div class="col-lg-10" style="padding-top: -40px;">
    <div class="card" style="width:120%;">
      <div class="card-body tab-content w-120 p-10" style="padding:.5rem;">
        <div class="tab-pane active" id="hot">
          {%  include 'Salesperson_Dashboard/Hot.htm' %}
        </div>
        <div class="tab-pane" id="cold">
          {%  include 'Salesperson_Dashboard/cold.htm' %}
        </div>        
        <div class="tab-pane" id="pending">
          {% include 'Salesperson_Dashboard/pending.htm' %}
        </div>
        <div class="tab-pane" id="delivered">
          {% include 'Salesperson_Dashboard/delivered.htm' %}
        </div>
        <div class="tab-pane" id="follow_up">
          {% include 'Salesperson_Dashboard/today_followup.htm' %}
        </div>
        <div class="tab-pane" id="future_follow_up">
          {% include 'Salesperson_Dashboard/future_follow_up.htm' %}
        </div>
        <div class="tab-pane" id="lost">
          {% include 'Salesperson_Dashboard/lost.htm' %}
        </div>
      </div>
    </div>
  </div>