@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;

    
    /* font-weight: 100; */
}



@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.table{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .28rem 4rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #545658;
    border-radius: .25rem;
   
}


.bg-light {
    background-color: #8d9297!important;
}

.nav-item{
    color: aliceblue;
}
a{

    color: #e9eef3;
    text-decoration: none;
    background-color: #eab8b800;
}
a:hover{
    color: #cedfd9;
    text-decoration: none;
}
.nav{
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding:-8.72rem 3rem;
    list-style: none;
    background-color: #999a9b;
    border-radius: .35rem;
   
}
.col{
    padding-right: -8px;
    padding-left: -11px;

}
.nav a{
    margin: 0px;
    padding: 20px;
}
.card-body {
    padding: .50rem;
}
