.breadcrumb{
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2rem 5rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #2d2f31;
    border-radius: .25rem;
}